<%- include('./partials/head.ejs') %>
<body>
    
</body>
</html>
<form id="myForm" action="/new" method="post" class="form-container">
    <% if(locals.error !== undefined){ %>
    <p class="message"><%= error %></p>
    <% } %>
    <fieldset class="form-fieldset">
      <legend class="form-legend">Kies de website van de organisatie</legend>
      <div class="form-row">
        <label for="websites" class="form-label">Website</label>
        <select required name="websiteId" id="website" class="form-select">
          <% websites.forEach(website => { %>
          <option value="<%= website.id %>"><%= website.titel %></option>
          <% }) %>
        </select>
      </div>
      <div class="form-row">
        <label for="url" class="form-label">URL</label>
        <input required type="text" name="url" id="url" placeholder="..." value="<%= locals.values?.url ?? '' %>" class="form-input" />
      </div>
      <div class="form-row">
      </div>
    </fieldset>
    <button id="submit-button" type="submit" class="form-button">Opslaan</button>
  </form>
<article>
  <h2>Click op de gekozen pagina onderaan en check of het volleidig toegankelijk is op basis van de checklist.</h2>
</article>
  <ul class="urls-list">
    <% urls.forEach(url => { %>
    <li class="url-item"><a href="/principes?urlid="><%= url.url %> <%= url.id %></li></a>
    <% }) %>
    </ul>                         




